<div class="contact-container col-sm-12 col-xs-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="contact-container text text-center col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <h4 class="intro"> ЭЛЕКТРОННЫЕ КАЛЬЯНЫ E-HOSE ОТ STARBUZZ С БЕСПЛАТНОЙ ДОСТАВКОЙ ПО ВСЕЙ УКРАИНЕ </h4>
    </div>
  </div>
  <div class="contact-container contact-form">
    <%= form_for :contact do |f| %>
    <h4 class="contact-text"> Закажите кальян сейчас и получите 4 картриджа с разными вкусами в подарок! </h4>
    <%= f.text_field :name, placeholder: "ВАШЕ ИМЯ*", class: "contact-input" %>
    <%= f.text_field :phone, placeholder: "ВАШ ТЕЛЕФОН*", class: "contact-input" %>
    <%= f.hidden_field :time, value: 12 %>
    <%= f.submit "ЗАКАЗАТЬ КАЛЬЯН", class: "make-order-button"%>
    <% end %>
    <p class="contact-safe"> *Ваши контактные данные в безопасности </p>
  </div>
</div>
