<div class="kalyan-item container">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black1'%> title="Черный кальян E-HOSE">
      <%= image_tag 'items/black1'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black2'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black2'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black3'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black3'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black4'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black4'%>
      </a>
    </div>
  </div>
  <div class="Text">
    <h4> Удобно </h4>
    <p> Потому что гладиолус </p>
  </div>
</div>
