<div class="why      col-xs-12 col-sm-4 col-md-3 col-lg-3">
  <div class="kalyan-image">
    <%= image_tag 'utility.png' %>
  </div>
  <div class="why text">
    <h4> УДОБНО </h4>
    <p> ДЫМИ В КЛУБЕ, НА РАБОТЕ, В МАШИНЕ, ДОМА - ГДЕ УГОДНО, КОГДА ЗАХОЧЕШЬ! </p>
  </div>
</div>
<div class="why  col-xs-12 col-sm-4 col-md-3 col-lg-3">
  <div class="kalyan-image">
    <%= image_tag 'epic.png' %>
  </div>
  <div class="why text">
    <h4> ЭПИЧНО </h4>
    <p> ВСЕ ДЫМЯТ: СУПЕРМЕН, ВОЛАН-ДЕ-МОРТ... ДАЖЕ ФИДЕЛЬ КАСТРО ДЫМИЛ. </p>
  </div>
</div>
<div class="why      col-xs-12 col-sm-4 col-md-3 col-lg-3">
  <div class="kalyan-image">
    <%= image_tag 'safe.png' %>
  </div>
  <div class="why text">
    <h4> БЕЗОПАСНО </h4>
    <p> НИКАКИХ УГЛЕЙ, ОГНЯ, ОЖОГОВ, ПРОЖЖЕННЫХ КОВРОВ ИЛИ МЕБЕЛИ! </p>
  </div>
</div>
<div class="why      col-xs-12 col-sm-4 col-md-3 col-lg-3">
  <div class="kalyan-image">
    <%= image_tag 'simple.png' %>
  </div>
  <div class="why text">
    <h4> ПРОСТО </h4>
    <p> ДОСТАЛ ИЗ СУМКИ, ПОСТАВИЛ КАРТРИДЖ, ПОДЫМИЛ, ПОЛОЖИЛ ОБРАТНО. </p>
  </div>
</div>
<div class="why      col-xs-12 col-sm-4 col-md-3 col-lg-3">
  <div class="kalyan-image">
    <%= image_tag 'taste.png' %>
  </div>
  <div class="why text">
    <h4> ВКУСНО </h4>
    <p> 14 РАЗНЫХ ВКУСОВ, КОТОРЫЕ МОЖНО КОМБИНИРОВАТЬ МЕЖДУ СОБОЙ. </p>
  </div>
</div>
<div class="why      col-xs-12 col-sm-4 col-md-3 col-lg-3">
  <div class="kalyan-image">
    <%= image_tag 'harm.png' %>
  </div>
  <div class="why text">
    <h4> БЕЗВРЕДНО </h4>
    <p> ЕСЛИ БЫ ДЕТИ КУРИЛИ НЕ СИГАРЕТЫ, А НАШИ КАЛЬЯНЫ - ОНИ РОСЛИ БЫ ЗДОРОВЫМИ. </p>
  </div>
</div>
<div class="why      col-xs-12 col-sm-4 col-md-3 col-lg-3">
  <div class="kalyan-image">
    <%= image_tag 'cheap.png' %>
  </div>
  <div class="why text">
    <h4> ЭКОНОМНО </h4>
    <p> ДЕШЕВЛЕ ОБЫЧНОГО КАЛЬЯНА, УПАКОВКИ КАРТРИДЖЕЙ ХВАТАЕТ НА 1000 ОБЛАКОВ ДЫМА. </p>
  </div>
</div>
<div class="why col-xs-12 col-sm-4 col-md-3 col-lg-3">
  <div class="kalyan-image">
    <%= image_tag 'smokey.png' %>
  </div>
  <div class="why text">
    <h4> ДЫМНО </h4>
    <p> ДЫМА В РАЗЫ БОЛЬШЕ, ЧЕМ ОТ ЭЛЕКТРОННЫХ СИГАРЕТ И НЕ МЕНЬШЕ, ЧЕМ ОТ СТАЦИОНАРНОГО КАЛЬЯНА </p>
  </div>
</div>