<div class="why body">
<h2 class="text-center"> E-HOSE - ЭТО </h2>
<%= render 'why_e_hose' %>
</div>
<div class="clear-none"></div>
<div class="overview-container">
  <h2> Наш видеообзор E-Hose от StarBuzz </h2>
  <div class="overview-text">
    <div class="overview-list">
      <ul class="overview ulist">
        <li class="overview litem"> <a class="video text" href="#"> Что такое E-Hose </a> </li>
        <li class="overview litem"> <a class="video text" href="#"> Как отличить оригинал от подделки </a> </li>
        <li class="overview litem"> <a class="video text" href="#"> Сколько он живёт  </a> </li>
        <li class="overview litem"> <a class="video text" href="#"> Еще какая-то инфа </a> </li>
        <li class="overview litem"> <a class="video text" href="#"> Бла-бла-бла </a> </li>
      <ul>
    </div>
  </div>
  <div class="overview-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/LbBOnRdcUMw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="kalyan body">
<h2 class="text-center"> Кальяны от StarBuzz: </h2>
<div class="kalyan-item container">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black1'%> title="Черный кальян E-HOSE">
      <%= image_tag 'items/black1'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black2'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black2'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black3'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black3'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black4'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black4'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[0].name %> </h4>
    <p> <%= @kalyan[0].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>


<div class="kalyan-item container">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/blue1'%> title="Синий кальян E-HOSE">
      <%= image_tag 'items/blue1'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/blue2'%> title="Синий кальян E-HOSE">
        <%= image_tag 'items/blue2'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/blue3'%> title="Синий кальян E-HOSE">
        <%= image_tag 'items/blue3'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/blue4'%> title="Синий кальян E-HOSE">
        <%= image_tag 'items/blue4'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[1].name %> </h4>
    <p> <%= @kalyan[1].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>


<div class="kalyan-item container">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/pink1'%> title="Розовый кальян E-HOSE">
      <%= image_tag 'items/pink1'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/pink2'%> title="Розовый кальян E-HOSE">
        <%= image_tag 'items/pink2'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/pink3'%> title="Розовый кальян E-HOSE">
        <%= image_tag 'items/pink3'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/pink4'%> title="Розовый кальян E-HOSE">
        <%= image_tag 'items/pink4'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[2].name %> </h4>
    <p> <%= @kalyan[2].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>


<div class="kalyan-item container">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/red1'%> title="Красный кальян E-HOSE">
      <%= image_tag 'items/red1'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/red2'%> title="Красный кальян E-HOSE">
        <%= image_tag 'items/red2'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/red3'%> title="Красный кальян E-HOSE">
        <%= image_tag 'items/red3'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/red4'%> title="Красный кальян E-HOSE">
        <%= image_tag 'items/red4'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[3].name %> </h4>
    <p> <%= @kalyan[3].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>


<div class="kalyan-item container">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/violet1'%> title="Фиолетовый кальян E-HOSE">
      <%= image_tag 'items/violet1'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/violet2'%> title="Фиолетовый кальян E-HOSE">
        <%= image_tag 'items/violet2'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/violet3'%> title="Фиолетовый кальян E-HOSE">
        <%= image_tag 'items/violet3'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/violet4'%> title="Фиолетовый кальян E-HOSE">
        <%= image_tag 'items/violet4'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[4].name %> </h4>
    <p> <%= @kalyan[4].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>
</div>
<div class="cartridge-body">
<h2 class="text-center"> Картрижды: </h2>
<% @cartridge.each do |cartridge|%>
  <%= render :partial => "cartridge", :locals => {:cartridge => cartridge} %>
<% end %>
</div>

<div class="test-drive-container">
  <h1 class="text-center"> ТЕСТ-ДРАЙВ КАЛЬЯНА </h1>
  <%= render 'test_contact'%>
</div>  
<div class="carousel-container">
</div>  
<div class="FAQ-container">
  <%= 12.times do %>
  <%= render 'question'%>
  <% end %>
</div>
<div class="still-question-container">
  <h1> Всё еще остались вопросы? </h1>
</div>
