<div class="why container">
<h2 class="text-center"> E-HOSE - ЭТО </h2>
<%= render 'why_e_hose' %>
</div>
<div class="clear-none"></div>
<div class="kalyan body col-sm-12 col-md-12 col-xs-12 col-lg-12">
<h2 class="text-center"> Кальяны от StarBuzz: </h2>
<div class="kalyan-item container col-sm-1"> </div>
<div class="kalyan-item container col-sm-2">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black1.jpg'%> title="Черный кальян E-HOSE">
      <%= image_tag 'items/black1.jpg'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black2.jpg'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black2.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black3.jpg'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black3.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb" href=<%= image_path 'items/black4.jpg'%> title="Черный кальян E-HOSE">
        <%= image_tag 'items/black4.jpg'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[0].name %> </h4>
    <p> <%= @kalyan[0].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>


<div class="kalyan-item container col-sm-2">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb1" href=<%= image_path 'items/blue1.jpg'%> title="Синий кальян E-HOSE">
      <%= image_tag 'items/blue1.jpg'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb1" href=<%= image_path 'items/blue2.jpg'%> title="Синий кальян E-HOSE">
        <%= image_tag 'items/blue2.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb1" href=<%= image_path 'items/blue3.jpg'%> title="Синий кальян E-HOSE">
        <%= image_tag 'items/blue3.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb1" href=<%= image_path 'items/blue4.jpg'%> title="Синий кальян E-HOSE">
        <%= image_tag 'items/blue4.jpg'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[1].name %> </h4>
    <p> <%= @kalyan[1].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>


<div class="kalyan-item container col-sm-2">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb2" href=<%= image_path 'items/pink1.jpg'%> title="Розовый кальян E-HOSE">
      <%= image_tag 'items/pink1.jpg'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb2" href=<%= image_path 'items/pink2.jpg'%> title="Розовый кальян E-HOSE">
        <%= image_tag 'items/pink2.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb2" href=<%= image_path 'items/pink3.jpg'%> title="Розовый кальян E-HOSE">
        <%= image_tag 'items/pink3.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb2" href=<%= image_path 'items/pink4.jpg'%> title="Розовый кальян E-HOSE">
        <%= image_tag 'items/pink4.jpg'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[2].name %> </h4>
    <p> <%= @kalyan[2].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>


<div class="kalyan-item container col-sm-2">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb3" href=<%= image_path 'items/red1.jpg'%> title="Красный кальян E-HOSE">
      <%= image_tag 'items/red1.jpg'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb3" href=<%= image_path 'items/red2.jpg'%> title="Красный кальян E-HOSE">
        <%= image_tag 'items/red2.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb3" href=<%= image_path 'items/red3.jpg'%> title="Красный кальян E-HOSE">
        <%= image_tag 'items/red3.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb3" href=<%= image_path 'items/red4.jpg'%> title="Красный кальян E-HOSE">
        <%= image_tag 'items/red4.jpg'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[3].name %> </h4>
    <p> <%= @kalyan[3].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>


<div class="kalyan-item container col-sm-2">
  <div class="kalyan-image">
     <a class="fancybox" rel="fancybox-thumb4" href= <%= image_path 'items/violet1.jpg'%> title="Фиолетовый кальян E-HOSE">
      <%= image_tag 'items/violet1.jpg'%>
    </a>
    <div class="hidden">
      <a class="fancybox" rel="fancybox-thumb4" href=<%= image_path 'items/violet2.jpg'%> title="Фиолетовый кальян E-HOSE">
        <%= image_tag 'items/violet2.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb4" href=<%= image_path 'items/violet3.jpg'%> title="Фиолетовый кальян E-HOSE">
        <%= image_tag 'items/violet3.jpg'%>
      </a>
      <a class="fancybox" rel="fancybox-thumb4" href=<%= image_path 'items/violet4.jpg'%> title="Фиолетовый кальян E-HOSE">
        <%= image_tag 'items/violet4.jpg'%>
      </a>
    </div>
  </div>
  <div class="item-text">
    <h4> <%= @kalyan[4].name %> </h4>
    <p> <%= @kalyan[4].cost%>  UAH </p>
    <a href=#>
      <div class="div-button">
        КУПИТЬ
      </div>
    </a>
  </div>
</div>
<div class="kalyan-item container col-sm-1"> </div>
</div>
<div class="cartridge container col-sm-12 col-md-12 col-xs-12 col-lg-12">
<h2 class="text-center"> КАРТРИДЖИ </h2>
<div class="cart-menu col-sm-4 col-md-4 col-xs-12 col-lg-4">
  <div class="list-group">
    <a href="#" class="list-group-item active" data-id-cart="cart-6">Irish Peach (Ирландский персик)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-7">Code 69 (Фруктовый пунш с цитрусами)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-8">Golden Grape (Золотая гроздь)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-9">Blue Mist (Синий туман - черника с мятой)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-10">Apple Doppio (Двойное яблоко)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-11">Pink (Лёгкий оттенок малины)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-12">Pirates Cave (Пещера Пирата)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-13">Queen of Sex (Королева секса)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-14">Sex on the beach (Секс на пляже)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-15">Simply Mango (Традиционный манго)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-16">Sweet Melon (Сладкая дыня)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-17">White Mint (Традиционная мята)</a>
    <a href="#" class="list-group-item" data-id-cart="cart-18">Green Savior (Сладкий вкус экзотических)</a>
  </div>
</div>
<div class="cart-items col-sm-8 col-md-8 col-xs-12 col-lg-8">
  <% @cartridges.each do |cartridge| %>
  <%= render :partial => "cartridge", :locals => {:cartridge => cartridge} %>
  <% end %>
</div>
</div>

<div class="test-drive container col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1 class="text-center"> ТЕСТ-ДРАЙВ КАЛЬЯНА </h1>
  <%= render 'test_contact'%>
</div>

<div class="carousella container col-xs-12 col-md-12 col-sm-12 col-lg-12">
  <h1 class="text-center block"> ОТЗЫВЫ НАШИХ ДОВОЛЬНЫХ КЛИЕНТОВ </h1>
  <%= render 'smoke/carousel'%>
</div>
<div class="container col-xs-12 col-md-12 col-sm-12 col-lg-12">
  <h1 class="text-center"> А больше дизайна у меня нет:-) </h1>
</div>
<!-- <div class="FAQ-container">
  <%= 12.times do %>
  <%= render 'question'%>
  <% end %>
</div> -->
